.projects {

}
        
.project-card {
    width: 300px; 
    height: 400px; 
    margin: 8px; 
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden; /* Hide overflow to contain the image */
}

.project-card img {
    width: 100%;
    height: 60%; 
    object-fit: cover; /* aspect ratio*/
    border-radius: 6px 6px 0 0; /* Rounded corners */
}

.project-info {
    height: 40%;
    padding: 10px;
    box-sizing: border-box;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    margin-top: 0;
}

.project-card p {
    margin-top: 5px;
}
