@import url('sidebar.css');
@import url('projects.css');

.content {
    width: 75%;
    padding: 20px;
    margin-left: 25%;
    margin-right: 20px;
    right:0;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}