#colored-text {
  color: rgb(32, 178, 170)
}

#profile-img {
  width: 20%;
  height: 20%;
  border-radius: 200px;
  margin-bottom: 1%
}

#name-title {
  margin-bottom: 2%
}

.hero-foot {
  padding: 5% 5% 5% 5%;
  margin-bottom: 3%;
}

#sh {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  #profile-img {
    width: 40%;
    height: 40%;
    border-radius: 200px;
    margin-bottom: 1%
  }

  #name-title {
    margin-bottom: 2%
  }

  #line {
    width: 100%;
  }
}